@font-face {
  font-family: "kalameh";
  font-style: normal;
  font-weight: 100;
  src: url("../../public/fonts/kalameh/Kalameh\ Bold.woff") format("woff");
}

@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/peyda/Peyda-Regular.woff") format("woff");
}
@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/peyda/Peyda-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/peyda/PEYDA-MEDIUM_0.TTF") format("ttf");
}

@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/peyda/Peyda-Medium.woff") format("woff");
}

@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: bold;
  src: url("../../public/fonts/peyda/Peyda-Bold.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #191c29;
  font-family: peyda;
}

* {
  box-sizing: border-box;
}

.rtl {
  direction: rtl;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
