@font-face {
  font-family: "irsans";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/iransans/woff/IRANSansWeb\(FaNum\)_Light.woff")
    format("woff");
}

@font-face {
  font-family: "irsans";
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/iransans/woff/IRANSansWeb\(FaNum\)_Medium.woff")
    format("woff");
}

@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/peyda/Peyda-Regular.woff") format("woff");
}

@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/peyda/Peyda-Medium.woff") format("woff");
}

@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: 800;
  src: url("../../public/fonts/peyda/Peyda-Bold.woff") format("woff");
}
@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: 900;
  src: url("../../public/fonts/peyda/Peyda-ExtraBold.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #191c29;
  font-family: irsans;
}

* {
  box-sizing: border-box;
}

.rtl {
  direction: rtl;
}

.dark .blog__banner:after {
  background: linear-gradient(180deg, #242a3800, #242a38cc 74.19%, #242a38);
}

.blog__banner:after {
  content: "";
  position: absolute;
  bottom: -12px;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #fff0, #fffc 74.19%, #fff);
}

.pp {
  text-align: center !important;
}

.sliderContainer {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.sliderContainer::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.sliderItem {
  scroll-snap-align: start;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  border-bottom: 5px solid #cdc9d4 !important;
  border-radius: 35px;
  width: 45px !important;
  height: 45px !important;
  color: #424750;
}

.swiper-button-next {
  left: 0 !important;
}

.swiper-button-prev {
  right: 0 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #424750;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

@media screen and (min-width: 300px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
